body {
    background-color: #cacaca;
    zoom: 75%; /* all browsers */
    -moz-transform: scale(75%);  /* Firefox */
}

.title {
    margin: 10px 20px;
    text-align: right;
}

.title div {
    position: absolute;
    right: 25px;
}

#canvas {
    padding: 0px 10px;
    font-size: 18pt;
}

#title h1 {
    font-size: 24pt;
    margin-top:0px;
    margin-botom:35px;
    font-family: Times;
    color: #925656;
    text-align: center;
    text-shadow: 1px 1px 1px #d2d0dc;
}

.mlogin {
    width:fit-content;
    margin: 50px auto;
    display: block;
    padding: 2px 2px 2px 2px;
}

.mlogin div {
    width: fit-content;
    display: block;
    margin: 5px auto;
}

.mlogin label {
    font-family: Times;
    color: #0f365d;
    font-size: 16pt;
}

.mlogin.warning {
    background: #ff5722;
    width: auto;
    text-align: center;
    margin: 5px auto;
}

.mlogin.error {
    background: red;
    width: auto;
    text-align: center;
    margin: 5px auto;
}


.mlogin p {
    margin:0 0;
    color: white;
}

.error {
    background:red;
}

.Empty {
    border-color:red;
}

#terminal {
    width: -webkit-fill-available;
    display: block;
    border-radius: 10px;
    padding: 15px;
}

.topic_btn,  .send_msg_btn {
    margin: 5px 10px 5px 10px;
    display: inline;
}

#terminal_div fieldset {
    padding: 10px;
    border-radius: 15px;
    border: inset;
}

#terminal_div fieldset legend {
    color: darkblue;
    font-size: 14pt;
    margin: 0px;
    display: inline;
    width: auto;
    padding: 0px 10px;https://music.youtube.com/
    border: ridge;
    border-radius: 10px;
}
#terminal_div label {
    margin: 0px 20px;
}

#cmds_div {
    margin: 25px;
}

.topic, .msg, #topic {
    width: 550px;
    display: inline;
    font-size: 18pt;
    font-weight: 600;
    color: #220b67;
}

#connect, #clear_btn {
    margin: 10px 50px;
}
#table_head{
    width: 100%;
    display: inline-block;
    position: relative;
}

#table_body{

    display: inline-block;
    height: 350px;
    overflow-y: scroll;
}


#table {
    width: 100%;
    display: block;
/*    height: 350px;
    overflow-y: scroll;
    /*border: 1px solid #000;*/
}

#table_div {
    width: 100%;
}

#table td,#table th {
    border: 1px solid #000;
    padding: 5px 10px;
    font-size: 14pt;
    background: #eee;
}

.td1{
    width: 300px;
    max-width: 300px;
    min-width: 300px;
}
.td2{
    width: 500px;
    max-width: 500px;
    min-width: 500px;
}
.td3{
    width: 100%;
    min-width: 500px;
}

#id_div {
    text-align: center;
}

.hidden {
    display:none;
}

.disconnect {
    background: #dab7b7
}

#label {
    font-size:16pt;
}
#lineBreak {
	width:18px;
	height: 18px;
}
.hidden {
    display: none;
}

th input {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
}
.chart, .chartCanvas {
    width: -webkit-fill-available;
    display: block;
    border-radius: 10px;
    padding: 15px;
    height:300px;
    max-height:300px;
}

.template {
    display: none;
}